main{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Optional: Centers items horizontally */
    margin: auto;
    
}




/* RESPONSYWNOŚC */
@media only screen and (max-width: 1024px) {
    main {
        margin-top: 50px;
    }
    section{
        padding: 20px 50px;
    }

  }